body {
	width: 100%;
	height: 100%;
	background-image: url(../img/back6.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: black;
	background-attachment: fixed;
}

#root {
	width: 100%;
	height: 100%;
}

.MainDiv {
	width: 100%;
	height: 100%;
}

.Header {
	width: 100%;
	height: 48px;
	background-color: rgba(0, 0, 0, 0.2);
	text-align: center;
	color: white;
	font-size: 34px;
	z-index: 1;
	text-decoration: underline;
	-webkit-animation-name: zoomIn;
  	animation-name: zoomIn;
  	animation-duration: 2s;
  	position: fixed;
}


/* ====================================================================================================================================== */
/* LOGIN */

.LoginContainer {
	height: 100vh;	
}

.LoginHeading {
	position: relative;
	text-align: center;
	color: white;
	background-color: black;
}

#password, #username {
	width: 30%;
}

#password, #username, #LoginButton {
	margin-left: auto;
	margin-right: auto;
	top: 40%;
	position: relative;
	margin-bottom: 10px;
}

#LoginButton {
	left: 35%;
}

.AlertIncorrect {
	width: 30%;
	top: 15%;
	margin-right: auto;
	margin-left: auto;
}

/*==================================================================================================================================*/
/*SETTING*/

#AccountSettings {
	width: 50%;
	color: white;
	-webkit-animation-name: slide-in-left;
  	animation-name: slide-in-left;
  	animation-duration: 1s;
  	background-color: rgba(0, 0, 0, 0.9);
  	border-radius: 10px;
}

.Marginer {
	margin-bottom: 100px;
}

#AccountSettingsHeading {
	text-align: center;
}

#AccountSettingsImage {
	margin-bottom: 10px;
}

#form {
	width: 50%;
	margin: auto;
}

/*================================================================================================================================*/
/*NAVBAR CSS*/
/*Css for Navbar starts here*/

.NavBar {
	background-color: rgba(52, 58, 64, 0.5);
	height: 50px;
	color: white;
	font-size: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
	width: 100%;
	z-index: 1;
	-webkit-animation-name: bounceInLeft;
  	animation-name: bounceInLeft;
  	animation-duration: 5s;
  	top: 0;
}

.NavBar > a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: 600;
	color: white;
	z-index: 1;
}

.NavBarElement {
	margin-left: 20px;
	z-index: 1;
}

.NavBarElement:hover {
	border-top: 1px solid #ffffff;
  	border-bottom: 1px solid #ffffff;
  	-webkit-animation-name: fill;
  	animation-name: fill;
  	animation-duration: 0.5s;
  	padding: 6px 0; 
}

.NavBarDivider {
	margin-left: 15px;
	border-left: 2px solid white;
	height: 42px;
	z-index: 1;
}

.NavBarDropdown {
	margin-left: 15px;
	margin-right: 15px;
	z-index: 1;
}

.NavBarDropdown > a {
	text-decoration: none;
}

.DropDownArrow{
	margin-left: 10px;
	z-index: 1;
	cursor: pointer;
}

.DropDownMenu {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 150px;
	text-align: left;
	height: 120px;
	border-radius: 5px;
	-webkit-animation-name: fade-in-top;
  	animation-name: fade-in-top;
  	animation-duration: 0.5s;
}

.DropDownElement {
	display: flex;
	flex-direction: column;
	padding: 20px 0px 20px 0px;
	margin-left: 5px;
}

.DropDownElement > a:hover {
	background-color: white;
	color: black;
	height: 100%;
	transition-duration: 1s;
}

.DropDownElement > a {
	text-decoration: none;
	color: white;
}

.Logo {
	position: absolute;
	display: flex;
	width: 100%;
	z-index: -1;
}

/*===========================================================================================================================*/
/*DELIVERIES CSS*/
/*CSS for deliveries page starts here*/

.Deliveries {
	/*background-image: url(../img/delivery.jpg);*/
	width: 100%;
	height: 100%;
	background-size: 100%;
	position: absolute;
	top: 0; 
}

.DSubTabs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 128px;
	justify-content: center;
}

#badge {
	margin-left: 5px;
}

.DSubTabs > a {
	text-decoration: none;
	color: white;
}

#DSubTabElement {
	margin-left: 15px;
	margin-right: 15px;
	height: 100%;
	padding: 5px;
	text-align: center;
	/*background-color: rgba(52, 58, 64, 1);
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
	outline: 1px solid;
	outline-color: rgba(255, 255, 255, .5);
	outline-offset: 0px;
	border: none;
	cursor: pointer;
	text-shadow: none;*/
	/* transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1); */
  	-webkit-animation-name: bounceInDown;
  	animation-name: bounceInDown;
  	animation-duration: 1.5s;
}

/* #DSubTabElement:hover {
	border: 1px solid;
  	box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
 	outline-color: rgba(255, 255, 255, 0);
  	outline-offset: 15px;
  	text-shadow: 1px 1px 2px #427388;
} */

.DeliveriesSubTabClicked {
	margin-top: 100px;
}

.DeliveriesTable {
	width: 50%;
	height: 550px;
	overflow: scroll;
	overflow-x: hidden;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	-webkit-animation-name: slide-in-left;
  	animation-name: slide-in-left;
  	animation-duration: 1.5s;
}

.DeliveriesPopupHeading {
	text-align: center;
	font-size: 35px;
	font-weight: 500;
}

.DeliveriesPopupSubHeading {
	text-align: center;
	font-size: 20px;
}

.DeliveriesPopupButtons {
	text-align: center;
	width: 100%;
}

#DeliveriesPopupClose {
	margin-top: 100px;
}

#DeliveriesPopupReject {
	margin-left: 50px;
	margin-top: 100px;
	text-align: center;
}

.DeliveriesContainer {
	color: white;
	display: flex;
	margin-bottom: 50px;
	-webkit-animation-name: slide-in-left;
  	animation-name: slide-in-left;
  	animation-duration: 2s;
}

#DeliveriesInfo {
	background-color: #343a40;
	text-align: center;
	border-radius: 10px;
	margin-left: 50px;
	padding: 10px;
	width: 40%;
}

.CardInfo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.CardInfoInner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#DeliveriesInfo:hover {
	border-top-left-radius: 10px;
  	border-bottom-left-radius: 10px;
  	animation-name: example;
  	animation-duration: 0.25s;
  	border-left: 8px solid white;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*.box:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid red;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}*/

.DeliveriesButtons {
	float: right;
}

#Accept {
	margin-right: 20px;
	/*background-color: #00FF00;*/
	/*box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
	outline: 1px solid;
	outline-color: rgba(255, 255, 255, .5);
	outline-offset: 0px;
	border: none;*/
	cursor: pointer;
	/*padding: 12px 30px;*/
	/*color: white;*/
	text-shadow: none;
  	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);	
}

#Accept:hover {
	border: 1px solid;
  	box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
 	outline-color: rgba(255, 255, 255, 0);
  	outline-offset: 15px;
  	text-shadow: 1px 1px 2px #427388;
}

/*.Reject {
	background-color: #FF0000;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
	outline: 1px solid;
	outline-color: rgba(255, 255, 255, .5);
	outline-offset: 0px;
	border: none;
	cursor: pointer;
	padding: 12px 30px;
	color: white;
	text-shadow: none;
  	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.Reject:hover {
	border: 1px solid;
  	box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
 	outline-color: rgba(255, 255, 255, 0);
  	outline-offset: 15px;
  	text-shadow: 1px 1px 2px #427388;
}*/

/*================================================================================================================================*/
/*ORDERS CSS*/
/*CSS for Orders page starts here*/

.Orders {
	width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    top: 128px;
    position: absolute;
    color: white;
}

#OrdersPopUpClose {
	margin-top: 10px;
    float: right;
    margin-right: 10px;
}

#OrdersAddToBill {
	margin-top: 10px;
    float: right;
    margin-right: 10px;
}

#OrdersPopUpHeading {
	margin-left: 10px;
}

#OrdersPopUpItems {
	margin-left: 40px;
}

#OrdersRadio {
	margin-right: 5px;
	cursor: pointer;
}

/*=================================================================================================================================*/
/*MENU CSS*/

#TableAddButton {
	margin-bottom: 15px;
	margin-left: 10px;
}

.Menu {
	width: 100%;
    position: absolute;
    top: 128px;
    color: white;
}

.Menu .OrdersLeftTable {
	width: 60%;
	margin: auto;
	margin-bottom: 50px;
}

/*======================================================================================================================================*/
/*DEALS*/

#DealsPopupAdd {
	float: right;
	margin-left: 10px;
}

#DealsPopupClose {
	float: right;
	margin-left: 10px;
	margin-right: 20px;
}

#DealsPopupName {
	width: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

#DealsPopupPrice {
	width: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

#DealsImageButton {
	width: 50%;
	margin-bottom: 20px;
	margin-left: 10px;
}

#DealsPopupList {
	width: 50%;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#AddDealPopupDisabled {
	width: auto;
}

#AddDealPopupMinus {
	float: right;
	margin-right: 20px;
}

#AddDealPopupPlus {
	margin-left: 10px;
	margin-bottom: 15px;
}

#AddDealPopupImage {
	margin-left: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}

#AddDealPopupImageButton {
	margin-bottom: 15px;
	width: 50%;
	margin-left: 10px;
}

#AddDealPopupItems {
	margin-left: 10px;
	font-size: 30px;
	font-weight: 500;
}

/*======================================================================================================================================*/
/*DELETEPOPUP*/

#DeletePopupHeading{
	text-align: center;
	font-weight: 500;
	font-size: 35px;
}

#DeletePopupBody {
	text-align: center;
	font-size: 20px;
}

#DeletePopupCancel {
	margin-top: 100px;
}

#DeletePopupConfirm {
	margin-left: 50px;
	margin-top: 100px;
}

#PopupButtons {
	text-align: center;
}

/*======================================================================================================================================*/
/*GALLERY*/

.Gallery{
	color: white;
	margin-left: auto;
	margin-right: auto;
	overflow: scroll;
	overflow-x: hidden;
	height: 650px;
	
}

#GalleryContainer {
	background-color: rgba(0,0,0, 0.9);
	padding: 20px;
	margin-top: 128px;
	width: 70%;
	border-radius: 10px;
	margin-bottom: 120px;
	-webkit-animation-name: slide-in-left;
  	animation-name: slide-in-left;
  	animation-duration: 1.5s;
}

#GalleryHeadingPopup {
	text-align: center;
	font-size: 35px;
	margin-top: 10px;
}

#GalleryImageUpload {
	width: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

#GalleryImagePopup {
	border-radius: 5px;
	margin-left: 10px;
}

#GalleryPopupAdd {
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#GalleryPopupClose {
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

/*=======================================================================================================================================*/
/*ABOUTUS*/

#AboutUsMain {
	margin-top: 128px;
	color: white;
	background-color: rgba(0, 0, 0, 0.9);
	height: 325px;
	border-radius: 10px;
	width: 60%;
	-webkit-animation-name: slide-in-left;
  	animation-name: slide-in-left;
  	animation-duration: 1.5s;
}

#heading, #body {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#AboutUsHeading, #AboutUsBody {
	font-size: 30px;
	font-weight: 500;
	margin-left: 200px;
}

#AboutUsButton {
	float: right;
	margin-top: 15px;
	margin-right: 200px;
}

/* ======================================================================================================================================= */
/* CONTACTUS */

#ContactUsMain {
	margin-top: 128px;
	color: white;
	background-color: rgba(0, 0, 0, 0.9);
	height: 350px;
	border-radius: 10px;
	width: 60%;
	-webkit-animation-name: slide-in-left;
  	animation-name: slide-in-left;
  	animation-duration: 1.5s;
}

#phone, #email, #address {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#ContactUsButton {
	float: right;
	margin-top: 15px;
	margin-right: 200px;
}

/*====================================================================================================================================*/
/*HISTORY*/

.History {
	position: relative;
	top: 128px;
}

.fa-filter {
	color: white;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 10px;
}

#HistoryDropDownMenu {
	background-color: black;
}

#HistoryDropDownMenu 

.HistoryDropDownItem {
	color: white;
}

.HistoryDropDownCheckBox {
	margin-left: 5px;
}

/*==================================================================================================================================*/
/*TABLE CSS*/


.Table {
	border-spacing: 40px;
	color: white;
}

.TableRow {
	cursor: pointer;
}

.OrdersLeftTable {
	width: 50%;
	height: 550px;
	overflow: scroll;
	overflow-x: hidden;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 10px;
	padding: 10px;
	-webkit-animation-name: slide-in-left;
  	animation-name: slide-in-left;
  	animation-duration: 1.5s;
}

.TableHeading {
	margin-left: 10px;
	color: white;
}

.TableColumnHeadings {
	margin-left: 10px;
}

.TableLeftButton {
	cursor: pointer;
	-webkit-animation-name: heartbeat;
  	animation-name: heartbeat;
  	animation-duration: 1.5s;
}

.OrdersRightTable {
	width: 45%;
	height: 550px;
	overflow: scroll;
	overflow-x: hidden;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 10px;
	padding: 10px;
	-webkit-animation-name: slide-in-right;
  	animation-name: slide-in-right;
  	animation-duration: 1.5s;
}

.TableRightButton {
	margin-right: 20px;
	background-color: #00FF00;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
	outline: 1px solid;
	outline-color: rgba(255, 255, 255, .5);
	outline-offset: 0px;
	border: none;
	cursor: pointer;
	padding: 12px 30px;
	color: white;
	text-shadow: none;
  	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);	
}

.TableRightButton:hover {
	border: 1px solid;
  	box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
 	outline-color: rgba(255, 255, 255, 0);
  	outline-offset: 15px;
  	text-shadow: 1px 1px 2px #427388;
}



/*.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}*/

/*===============================================================================================================================*/
/*POPUP*/

.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);
  z-index: 1;
  -webkit-animation-name: fade-in-top;
  animation-name: fade-in-top;
  animation-duration: 1s;  
}  
.popupInner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background: white;
  z-index: 1;
  overflow: scroll;
  overflow-x: hidden; 
  background-color: black;
  color: white; 
  -webkit-animation-name: fade-in-top;
  animation-name: fade-in-top;
  animation-duration: 1.5s; 
}

.fa-times {
	color: red;
	transition: all 1s;
}

.fa-times:hover {
	transform: rotate(360deg);
}

#OrdersPopUpHeading {
	color: white;
}

#OrdersPopUpItems {
	color: white;
}

#AddItemFormDone {
	float: right;
	margin-right: 10px;
}

#AddItemFormCancel {
	float: right;
	margin-right: 10px;
}

#name {
	width: 50%;
}

#options_name {
	width: 30%;
}

#AddItemFormOptions {
	width: 50%;
	margin-left: 10px;
	margin-bottom: 15px;
	margin-top: 25px;
}

#AddItemFormAddOption {
	margin-left: 10px;
	margin-top: 10px;
}

#AddItemFormOptionList {
	margin-left: 10px;
	font-size: 30px;
	font-weight: 500;
}

#AddItemFormPrepend {
	margin-left: 10px;
}

#AddItemFormPlus {
	margin-left: 10px;
	margin-top: 10px;
}

#description {
	height: 100px;
}

#AddItemFormImageButton {
	width: 50%;
	margin-left: 10px;
	margin-bottom: 10px;
}

#AddItemFormImage {
	margin-left: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

#AddItemPopupHeading {
	text-align: center;
	font-size: 35px;
	font-weight: 500;
}

#AddDealPopupHeading {
	text-align: center;
	font-size: 35px;
	font-weight: 500;
}

/*============================================================================================================================*/
/*SCROLL BAR CSS*/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: unset; 
}
 
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*===================================================================================================================================*/

@media only screen and (max-width: 750px) {
	
	body {
		width: 100%;
		height: 100%;
		background-image: url(../img/back6.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		background-color: black;
		display: flex;
	}

	#root {
		width: 100%;
		height: 100%;
	}

	.MainDiv {
		width: 100%;
		height: 100%;
	}

	.Header {
		width: 100%;
		height: 48px;
		background-color: rgba(0, 0, 0, 0.2);
		color: white;
		font-size: 17px;
		text-decoration: underline;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.NavBar {
		background-color: rgba(255, 255, 255, 0);
		position: relative;
		margin: auto;	
		color: white;
		font-size: 10px;
		justify-content: flex-start;
		width: 20%;
		z-index: 1;
		text-shadow: 1px 1px black;
		overflow: auto;
		height: 110px;
	}

	.NavBar > a {
		text-decoration: none;
		color: white;
	}

	.NavBarElement {
		z-index: 1;
	}

	.NavBarElement:hover {
		text-decoration: underline;
	}

	.NavBarDivider {
		margin-left: 15px;
		border-left: 2px solid white;
		height: 42px;
		display: none;
		z-index: 1;
	}

	.NavBarDropdown {
		margin-left: 15px;
		margin-right: 15px;
		display: none;
		z-index: 1;
	}

	.NavBarDropdown > img {
		margin-left: 10px;
	}

	.Logo {
		position: absolute;
		display: none;
		width: 100%;
		z-index: 1;
	}

}

/*==================================================================================================================================*/
/*KEYFRAME ANIMATIONS*/

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/*.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}*/

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-23 4:44:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-25 18:14:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fill {
	0% {
		border-top: 1px solid #ffffff;
  		border-bottom: 1px solid #ffffff;
	}
	50% {
		border-top: 2px solid #ffffff;
  		border-bottom: 2px solid #ffffff;
	}
	75% {
		border-top: 3px solid #ffffff;
  		border-bottom: 3px solid #ffffff;
	}
	100% {
		border-top: 4px solid #ffffff;
  		border-bottom: 4px solid #ffffff;
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-25 21:4:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-26 0:17:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-26 0:37:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
