body {
	width: 100%;
	height: 100%;
	background-image: url(../img/back6.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: black;
	display: flex;
}

#root {
	width: 100%;
	height: 100%;
}

.MainDiv {
	width: 100%;
	height: 100%;
}

.Header {
	width: 100%;
	height: 48px;
	background-color: rgba(0, 0, 0, 0.2);
	text-align: center;
	color: white;
	font-size: 34px;
	text-decoration: underline;
}

.NavBar {
	background-color: rgba(255, 255, 255, 0.1);
	height: 50px;
	color: white;
	font-size: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
	width: 100%;
	z-index: 1;
	text-shadow: 1px 1px black;
}

.NavBar > a {
	text-decoration: none;
	color: white;
}

.NavBarElement {
	margin-left: 15px;
}

.NavBarElement:hover {
	text-decoration: underline;
}

.NavBarDivider {
	margin-left: 15px;
	border-left: 2px solid white;
	height: 42px;
}

.NavBarDropdown {
	margin-left: 15px;
	margin-right: 15px;
}

.NavBarDropdown > img {
	margin-left: 10px;
}

.Logo {
	position: absolute;
	display: flex;
	width: 100%;
}