html,
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url(../img/back.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.MainDiv {
  width: 100%;
  height: 100%;
}

/*.Header {
	width: 100%;
	height: 48px;
	background-color: rgba(0, 0, 0, 0.2);
	text-align: center;
	color: white;
	font-size: 34px;
	text-decoration: underline;
	-webkit-animation-name: zoomIn;
  	animation-name: zoomIn;
  	animation-duration: 2s;
}*/

.NavBar {
  background-color: rgba(255, 255, 255, 0.2);
  height: 50px;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  text-shadow: 1px 1px black;
  overflow: hidden;
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  animation-duration: 5s;
}

.NavBarElement > a {
  text-decoration: none;
  color: white;
}

.NavBarElement {
  margin-left: 15px;
  z-index: 1;
}

.NavBarElement:hover {
  text-decoration: underline;
}

.NavBarDivider {
  margin-left: 15px;
  border-left: 2px solid white;
  height: 42px;
  z-index: 1;
}

.NavBarLoggedOut {
  display: inherit;
}

.Cart {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 10px;
}

.NavBarDropdown {
  margin-left: 15px;
  margin-right: 15px;
  z-index: 1;
}

.NavBarDropdown > a {
  text-decoration: none;
}

.NavBarDropdown > img {
  margin-left: 10px;
}

.NavBarDropdown > img:hover {
  transform: translateX(10px);
}

.Logo {
  position: fixed;
  left: 9px;
  z-index: -1;
}

.MainContents {
  position: relative;
  min-height: 100vh;
  height: 100%;
  top: 100px;
  padding-bottom: 100px;
}

.footer {
  background: #303036;
  margin: auto;
  margin-top: auto;
  width: 100%;
  color: #d3d3d3;
  height: 325px;
  position: relative;
}

.footer .footer-content {
  border: 1px red;
  height: 275px;
  margin-top: auto;
  display: flex;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
  border: 1px solid white;
}

.footer .footer-content .links ul a {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: white;
}

.footer .footer-bottom {
  background: #343a40;
  color: #686868;
  margin-top: auto;
  height: 30px;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding-top: 20px;
}

@media only screen and (max-width: 750px) {
  html,
  body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-image: url(../img/back.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
  }

  #root {
    width: 100%;
    height: 100%;
  }

  .MainDiv {
    width: 100%;
    height: 100%;
  }

  .Header {
    width: 100%;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 17px;
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .NavBar {
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    margin: auto;
    color: white;
    font-size: 10px;
    justify-content: flex-start;
    width: 20%;
    z-index: 1;
    text-shadow: 1px 1px black;
    overflow: auto;
    height: 110px;
  }

  .NavBar > a {
    text-decoration: none;
    color: white;
  }

  .NavBarElement {
    z-index: 1;
  }

  .NavBarElement:hover {
    text-decoration: underline;
  }

  .NavBarDivider {
    margin-left: 15px;
    border-left: 2px solid white;
    height: 42px;
    display: none;
    z-index: 1;
  }

  .NavBarDropdown {
    margin-left: 15px;
    margin-right: 15px;
    display: none;
    z-index: 1;
  }

  .NavBarDropdown > img {
    margin-left: 10px;
  }

  .Logo {
    position: absolute;
    display: none;
    z-index: 1;
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
