html,
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url(../img/back.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
  background-attachment: fixed;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.MainDiv {
  width: 100%;
  height: 100%;
}

/*==============================================================================================================================*/
/*NAVBAR CSS*/

.MobileIcon {
  display: none;
}

.NavBar {
  background-color: rgba(255, 255, 255, 0);
  height: 50px;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  text-shadow: 1px 1px black;
  overflow: hidden;
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  animation-duration: 2s;
}

.NavBarElement > a {
  text-decoration: none;
  color: white;
}

.NavBarElement {
  margin-left: 15px;
  z-index: 1;
}

.NavBarElement:hover {
  text-decoration: underline;
}

.NavBarDivider {
  margin-left: 15px;
  border-left: 2px solid white;
  height: 42px;
  z-index: 1;
}

.NavBarLoggedOut {
  display: inherit;
}

.Cart {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 10px;
}

.NavBarDropdown {
  margin-left: 15px;
  margin-right: 15px;
  z-index: 1;
}

.NavBarDropdown > a {
  text-decoration: none;
}

.NavBarDropdown > img {
  margin-left: 10px;
}

.NavBarDropdown > img:hover {
  transform: translateX(10px);
}

.Logo {
  position: fixed;
  left: 9px;
  z-index: -1;
}

/*==============================================================================================================================*/
/*MAIN CONTENTS CSS*/

.MainContents {
  position: relative;
  height: 100%;
  top: 100px;
  padding-bottom: 100px;
}

/*================================================================================================================================*/
/*MENU*/

.MenuContainer {
  color: white;
}

.MainTitle {
  font-size: 120px;
  font-family: sans-serif;
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-animation-name: slide-in-left;
  animation-name: slide-in-left;
  animation-duration: 1s;
}

.MainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  -webkit-animation-name: slide-in-right;
  animation-name: slide-in-right;
  animation-duration: 1s;
}

.MenuItem {
  width: 470px;
  margin-bottom: 100px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.MenuItemName {
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 20px;
}

.MenuItemDescription {
  background-color: rgba(0, 0, 0, 0);
  height: 25px;
  font-size: 15px;
  font-weight: 400;
}

.MenuItemPrice {
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.MenuItemAddToCart {
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 20px;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  padding: 5px;
}

.MenuItemAddToCart:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.MenuItem > img {
  max-height: 350px;
  max-width: 350px;
  border-radius: 10%;
  padding: 0;
}


.Extras {
  font-size: 120px;
  font-family: sans-serif;
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  animation-duration: 1s;
}

.ExtrasContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

.Drinks {
  font-size: 120px;
  font-family: sans-serif;
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  animation-duration: 1s;
  z-index: 0;
}

.DrinksContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);
  -webkit-animation-name: slide-in-bck-center;
  animation-name: slide-in-bck-center;
  animation-duration: 1s;  
}  
.popupInner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;    
  margin: auto;  
  border-radius: 20px;  
  background: black;
  -webkit-animation-name: fade-in-fwd;
  animation-name: fade-in-fwd;
  animation-duration: 1.5s;  
  z-index: 1;
}

.ClosePopup {
  margin-left: 720px;
  width: 15px;
  margin-top: 10px;
  cursor: pointer;
}

.PopupOptions {
  font-size: 20px;
  z-index: 1;
}

.OptionsHeading {
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 32px;
  text-decoration: underline;
  z-index: 1;
}

.RadioButtons {
  cursor: pointer;
  z-index: 1;
}

.PopupQuantity {
  display: flex;
  justify-content: center;
  margin: auto;
  z-index: 1;
}
.PopupQuantity > div {
  margin-left: 10px;
  cursor: pointer;
  z-index: 1;
}

.PopupAddToCart {
  font-size: 15px;
  width: 15%;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  padding: 5px;
  z-index: 1;
}

.PopupAddToCart:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

/*==============================================================================================================================*/
/*FOOTER*/
.footer {
  background: #303036;
  margin: auto;
  margin-top: auto;
  width: 100%;
  color: #d3d3d3;
  height: 325px;
  position: relative;
}

.footer .footer-content {
  border: 1px red;
  height: 275px;
  margin-top: auto;
  display: flex;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
  border: 1px solid white;
}

.footer .footer-content .links ul a {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: white;
}

.footer .footer-bottom {
  background: #343a40;
  color: #686868;
  margin-top: auto;
  height: 30px;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding-top: 20px;
}

/*==============================================================================================================================*/
/*RESPONSIVENESS*/

@media only screen and (max-width: 750px) {
  html,
  body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-image: url(../img/back.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    background-attachment: fixed;
  }

  #root {
    width: 100%;
    height: 100%;
  }

  .MainDiv {
    width: 100%;
    height: 100%;
  }

  .MobileIcon {
    display: block;
    margin-top: 15px;
    margin-left: 10px;
    float: left;
    cursor: pointer;
    position: fixed;
    z-index: 1;
  }

  .NavBar {
    display: none;
  }

.mobileNav {
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;
  -webkit-animation-name: fade-in-fwd;
  animation-name: fade-in-fwd;
  animation-duration: 1s;  
}

.mobileNavClose {
  position: relative;
  margin-right: 300px;
  margin-top: 10px;
}

.mobileNav .NavBarDivider {
  display: none;
}

.NavBarElement > a {
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 20px; 
  color: white;
  border-bottom: 1px solid white;
}

.NavBarElement {
  margin: auto;
  z-index: 1;
}

.NavBarElement:hover {
  text-decoration: underline;
}

.ClosePopup {
  margin-left: 220px;
  width: 15px;
  margin-top: 10px;
  cursor: pointer;
}

.popupInner {  
  position: absolute;
  width: 100%;   
  top: 25%;    
  left: 8%;
  margin: auto;  
  border-radius: 20px;  
  background: black;
  -webkit-animation-name: fade-in-fwd;
  animation-name: fade-in-fwd;
  animation-duration: 1.5s;  
  z-index: 1;
}

  .Logo {
    display: block;
    z-index: 1;
  }
}

/*================================================================================================================================*/
/*SCROLLBAR*/

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*=============================================================================================================================*/
/*ANIMATIONS*/
@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-26 15:41:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-26 15:43:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-26 15:45:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-26 15:46:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
