html,
body {
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/back3.jpg);
  background-position: center center;
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
  background-attachment: fixed;
  scroll-behavior: smooth;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.MainDiv {
  width: 100%;
  height: 100%;
}

.StartOverlay {
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: black;
  z-index: 5;
}

#LeftLine{
  border: 1px solid white;
  position: absolute;
  top: 50%;
  width: 30%;
  left: 0%;
  -webkit-animation-name: slide-in-left;
  animation-name: slide-in-left;
  animation-duration: 2s;
}

#RightLine{
  border: 1px solid white;
  position: absolute;
  top: 50%;
  width: 30%;
  right: 0%;
  -webkit-animation-name: slide-in-right;
  animation-name: slide-in-right;
  animation-duration: 2s;
}

.VerticalLine {
  border-left: 2px solid white;
  height: 260px;
  position: absolute;
  left: 50%;
  -webkit-animation-name: slide-in-top;
  animation-name: slide-in-top;
  animation-duration: 2s;
}

#StartOverlayButton {
  position: inherit;
  top: 70%;
}

#StartOverlayTitle {
  position: relative;
  top: 50%;
  -webkit-animation-name: fade-in-fwd;
  animation-name: fade-in-fwd;
  animation-duration: 5s;
  color: white;
}

#StartOverlaySubTitle {
  position: inherit;
  top: 60%;
  -webkit-animation-name: fade-in-fwd;
  animation-name: fade-in-fwd;
  animation-duration: 6s;
  color: white;
}

#StartOverlayButton {
  -webkit-animation-name: slide-in-bottom;
  animation-name: slide-in-bottom;
  animation-duration: 0.5s;
}

/* ================================================================================================================================ */
/* LOADINGSCREEN */

.LoadingScreen {
  height: 100vh;
  position: absolute;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1;
}

.LoadingScreen > img {
  top: 50%;
  position: relative;
  -webkit-animation-name: loading;
  animation-name: loading;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/*==============================================================================================================================*/
/*NAVBAR CSS*/

.MobileIcon {
  display: none;
}

.NavBar {
  background-color: rgba(255, 255, 255, 0);
  top: 0;
  height: 50px;
  color: white;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  text-shadow: 1px 1px black;
  overflow: hidden;
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  animation-duration: 2s;
}

.NavBarElement > a {
  text-decoration: none;
  color: white;
  letter-spacing: 0;
  z-index: 1;
}

.NavBarElement {
  margin-left: 15px;
  z-index: 1;
}

.NavBarElement > a:after, .NavBarElement > a:before {
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.NavBarElement > a:hover:after,
.NavBarElement > a:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.NavBarElement > a:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}

.NavBarDivider {
  margin-left: 15px;
  border-left: 2px solid white;
  height: 42px;
  z-index: 1;
}

.NavBarLoggedOut {
  display: inherit;
}

.NavBarLoggedIn {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  margin-top: 1px;
}

.fa-caret-down {
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.fa-caret-down:hover {
  transform: rotate(180deg);
}

/*.NavBarLoggedInDropDown {
  top: 10%;
  display: flex;
  flex-direction: column;
}*/

.DropDown {
  position: fixed;
  margin-left: 83px;
}

.DropDownMenu {
  background-color: black;
  color: white;
}

.DropDownMenu > a {
  color: white;
}

.DropDownItem {
  color: white;
  transition: all 0.5s;
}

.DropDownItem > a:hover {
  color: black;
  text-decoration: none;
}

.Cart {
  margin-right: 15px;
  margin-left: 30px;
  margin-top: 10px;
  transition: all 350ms ease-in-out;
}

.Cart:hover {
  transform: translateX(10px);
}

.NavBarDropdown {
  margin-left: 15px;
  margin-right: 15px;
  z-index: 1;
}

.NavBarDropdown > a {
  text-decoration: none;
}

.NavBarDropdown > img {
  margin-left: 10px;
}

.NavBarDropdown > img:hover {
  transform: translateX(10px);
}

.Logo {
  position: fixed;
  left: 9px;
  z-index: -1;
  transition: all 500ms ease-in-out;
}

.Logo:hover {
  transform: rotateY(360deg);
}

/*==============================================================================================================================*/
/*MAIN CONTENTS CSS*/

.MainContents {
  position: relative;
  height: 100%;
  min-height: 100vh;
  top: 100px;
  padding-bottom: 100px;
}

/*================================================================================================================================*/
/*MENU*/

.MenuContainer { 
  color: white;
  margin-top: 200px;
}

.ScrollImageContainer {
  margin-bottom: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  -webkit-animation-name: slide-in-left;
  animation-name: slide-in-left;
  animation-duration: 1s;
}

.ScrollImage {
  border-radius: 10%;
  -webkit-transition: all .8s ease-in-out;
  margin-right: 20px;
}

.ScrollImage:hover {
  -webkit-transform: scale(1.01);
}

.ScrollImageContainer > a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.MainTitle {
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
  position: relative;
  -webkit-animation-name: slide-in-left;
  animation-name: slide-in-left;
  animation-duration: 1s;
  text-transform: uppercase;
}

.MainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  -webkit-animation-name: slide-in-right;
  animation-name: slide-in-right;
  animation-duration: 1s;
}

.MenuItem {
  width: 470px;
  margin-bottom: 100px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.MenuItemName {
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 20px;
}

.MenuItemDescription {
  background-color: rgba(0, 0, 0, 0);
  height: 25px;
  font-size: 15px;
  font-weight: 400;
}

.MenuItemPrice {
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.MenuItemAddToCart {
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 20px;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  padding: 5px;
}

.MenuItemAddToCart:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.MenuItem > img {
  height: 200px;
  width: 200px;
  border-radius: 10%;
  padding: 0;
  /*filter: gray;*/ /* IE5+ */
  /*-webkit-filter: grayscale(1);*/ /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all .8s ease-in-out;
}

.MenuItem > img:hover {
  /*filter: none;*/
  /*-webkit-filter: grayscale(0);*/
  -webkit-transform: scale(1.01);
}


.Extras {
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
  position: relative;
  text-transform: uppercase;
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  animation-duration: 1s;
}

.ExtrasContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

.Drinks {
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
  position: relative;
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  animation-duration: 1s;
  text-transform: uppercase;
  z-index: 0;
}

.DrinksContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

.popup {    
  width: 100%;
  position: fixed;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);
  -webkit-animation-name: slide-in-bck-center;
  animation-name: slide-in-bck-center;
  animation-duration: 1s;
  z-index: 2;  
}  
.popupInner {
  /*display: flex;
  flex-direction: column;*/
  overflow: scroll;
  overflow-x: hidden;
  width: 50%;    
  margin: auto;
  top: 25%;
  margin-top: 200px;
  height: 65%;  
  border-radius: 20px;  
  background: rgba(0, 0, 0, 1);
  -webkit-animation-name: fade-in-fwd;
  animation-name: fade-in-fwd;
  animation-duration: 1.5s;  
  z-index: 1;
}

.ClosePopup {
  /*margin-left: 720px;
  width: 15px;
  margin-top: 10px;*/
  cursor: pointer;
  float: right;
  transition: all 0.5s;
  z-index: 2;
}

.ClosePopup:hover {
  transform: rotate(360deg);
}

.PopupOptions {
  font-size: 20px;
  z-index: 1;
}

.OptionsHeading {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 32px;
  font-size: 25px;
  font-weight: 500;
  text-align: left;
  z-index: 1;
}

.RadioButtons {
  cursor: pointer;
}

.MenuItemRadio {
  float: left;
  margin-left: 10px;
  z-index: 1;
}

.MenuItemRadioPrice {
  float: right;
  margin-right: 10px;
}

#MenuItemPopupAddToCart {
  float: right;
  margin-right: 10px;
  margin-top: 20px;
}

.PopupQuantity {
  display: flex;
  justify-content: center;
  font-size: 20px;
  z-index: 1;
}
.PopupQuantity > div {
  margin-left: 10px;
  cursor: pointer;
  z-index: 1;
}

.MenuItemPointers {
  cursor: pointer;
}

#PopupAddToCart {
  z-index: 1;
  margin-right: 20px;
  margin-bottom: 10px;
  float: right;
}

/* .PopupAddToCart:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
} */

/*================================================================================================================================*/
/*DEALS*/

.DealsContainerOutter { 
  color: white;
}

.DealsCarousel {}

.carousel-caption {
  z-index: 1;
}

.carousel-indicators {
  z-index: 1;
}

.DealsContainerInner { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  -webkit-animation-name: slide-in-right;
  animation-name: slide-in-right;
  animation-duration: 1s;
}

.DealsTitle {
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
  position: relative;
  -webkit-animation-name: slide-in-left;
  animation-name: slide-in-left;
  animation-duration: 1s;
  text-transform: uppercase;
}

.DealItem {
  width: 470px;
  margin-bottom: 100px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.DealItemName {
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 20px;
}

.DealItemDescription {
  background-color: rgba(0, 0, 0, 0);
  height: 25px;
  font-size: 15px;
  font-weight: 400;
}

.DealItemPrice {
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.DealItemAddToCart {
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 20px;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  padding: 5px;
}

.DealItemAddToCart:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.DealItem > img {
  height: 200px;
  width: 200px;
  border-radius: 10%;
  padding: 0;
  -webkit-transition: all .8s ease-in-out;
}

.DealItem > img:hover {
  -webkit-transform: scale(1.01);
}

.DealItemRadio {
  float: left;
  margin-left: 10px;
}

.DealItemPrice {
  float: right;
  margin-right: 10px;
}

.DealItemPopupPrice {
  text-align: right;
}

.DealItemHeading {
  margin-top: 15px;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

/*================================================================================================================================*/
/*CART*/

#Table {
  display: none;
}

#CartMain {
  position: relative;
  margin-bottom: 300px;
  width: 50%;
  margin-top: 80px;
  color: white;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 10px;
  padding: 1px;
  -webkit-animation-name: fade-in-fwd;
  animation-name: fade-in-fwd;
  animation-duration: 1.5s;  
}

.CartClick {
  cursor: pointer;
}

.CartMinOrder {
  margin-top: 100px;
  font-size: 20px;
  margin-bottom: 20px;
}

.CartHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.CartOrderItemOutter {
  margin-bottom: 20px;
}

.CartOrderItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.CartOrderName {
  margin-left: 100px;
  position: relative;
}

.CartQuantity {
  display: flex;
  flex-direction: row;
  margin-left: 203px;
  position: relative;
}

.CartPrice {
  margin-left: 216px;
  position: relative;
}

.CartDelete {
  position: relative;
  margin-left: 92px;
  cursor: pointer;
  margin-right: 10px;
}

.fa-trash-alt {
  color: red;
}

.CartIncrease {
  margin-left: 9px;
  cursor: pointer;
}

.CartDecrease {
  margin-right: 9px;
  cursor: pointer;
}

.CartLine {
  margin-top: 60px;
  border-bottom: 2px solid white;
  margin-bottom: 20px;
}

.CartDeliveryFee {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
}

.CartTotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
}

.Price {
  margin-right: 10px;
}

.CartPhoneAndAddress {
  margin-top: 20px;
}

.CartPhoneLabel {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  margin-left: 10px;
}

.CartCheckOutButton {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.9);
  width: 10%;
  margin-left: 10px;
  margin-bottom: 15px;
  font-weight: 500;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  padding: 5px;
  border-radius: 5px;
}

.CartCheckOutButton:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.CartPhone {
  padding: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 17%;
  transition: width 0.4s ease-in-out;
  margin-left: -550px;
}

.CartPhone:focus {
  width: 20%;
}

.CartAddress {
  padding: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 17%;
  transition: width 0.4s ease-in-out;
  margin-bottom: 20px;
  margin-left: -550px;
}

.CartAddress:focus {
  width: 25%;
}

/*===============================================================================================================================*/
/*LOGIN*/

#Login {
  color: white;
  text-align: left;
  width: 50%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  -webkit-animation-name: slide-in-left;
  animation-name: slide-in-left;
  animation-duration: 1s;
}

#Login h3 {
  text-align: center;
}

#Login p{
  text-align: center;
  cursor: pointer;
  margin-top: 50px;
}

#Login img {
  cursor: pointer;
  margin-top: 50px;
}

/*==============================================================================================================================*/

/*===============================================================================================================================*/
/*SIGNUP*/

#SignUp {
  color: white;
  text-align: left;
  width: 50%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  -webkit-animation-name: slide-in-left;
  animation-name: slide-in-left;
  animation-duration: 1s;
}


/*=================================================================================================================================*/
/*ABOUTUS*/

.AboutUsContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  -webkit-animation-name: slide-in-left;
  animation-name: slide-in-left;
  animation-duration: 1.5s;
}

#AboutUsFirst {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.AboutUsInfo {
  width: 100%;
}

.AboutUsInfo > p {
  position: relative;
  text-align: center;
  width: 100%;
  top: 3%;
  font-size: 20px;
  font-family: HamburgerHeaven; 
}

#AboutUsSecond {
  display: flex;
  flex-direction: row;
}

#AboutUsThird {
  display: flex;
  flex-direction: row;
}

#AboutUsFourth {
  display: flex;
  flex-direction: row;
}

.AboutUsImageRight {
  width: 100%;
  height: auto;
  position: relative;
  height: 100vh;
}

.AboutUsImageLeft {
  left: 0;
  position: relative;
  height: 100vh;
}

.AboutUsSubHeadingLeft {
  padding-top: 15%;
  font-family: HamburgerHeaven;
  color: white;
  width: 100%;
}

.AboutUsSubHeadingRight {
  font-family: HamburgerHeaven;
  padding-top: 15%;
  color: white;
  width: 100%;
}

/*======================================================================================================================================*/
/*CONTACTUS*/

#contactForm {
  width: 50%;
  margin-bottom: 20px;
  -webkit-animation-name: slide-in-left;
  animation-name: slide-in-left;
  animation-duration: 1.5s;
}

.ContactUsTitle {
  margin-top: 15px;
  margin-bottom: 15px;
}

.ContactUsSubTitle {
  margin-bottom: 15px;
}

#ContactUsSubmit {
  margin-left: -650px;
}

#ContactUsMessageBox {
  border-radius: 10px;
  padding: 12px;
  -webkit-animation-name: slide-in-left;
  animation-name: slide-in-left;
  animation-duration: 1.5s;
}

.ContactUsTitle2 {
}

.ContactUsSubTitle2 {
}

#ContactUsContacts {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
}

.ContactUsIcons > a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
  transition: 0.5s;
}

.ContactUsIcons a:hover{
  color: #fff;
  transform: rotateY(360deg);
}

#ContactUsPhone {
  width: 35px;
  height: 35px;
  background-color:  #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
  transition: 0.5s;
  margin-top: 20px;
}

#ContactUsPhone:hover {
  color: #fff;
  transform: rotateY(180deg);
}

.ContactUsMail {
  color: white;
  text-decoration: none;
}

/*==================================================================================================================================*/
/*GALLERY*/

.GalleryBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.GalleryBoxItem {
  cursor: pointer;
  transition: all 1s;
  margin-bottom: 50px;
}

.GalleryBoxItem:hover {
  transform: scale(1.05);
}

.GalleryPopup {
  width: 100%;
  position: fixed;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.7);
  -webkit-animation-name: slide-in-bck-center;
  animation-name: slide-in-bck-center;
  animation-duration: 1s;
  z-index: 2;  
}

.GalleryPopupClose {
  float: right;
  transition: all 1s;
}

.GalleryPopupClose:hover {
  cursor: pointer;
  transform: rotate(360deg);
}

.GalleryImageOpen {
  width: auto;
  height: auto;
}

.fa-times {
  color: red;
}

/* ================================================================================================================================ */
/* ORDERS */

.OrdersContainer {
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.OrdersHeading {
  font-size: x-large;
  color: white;
  margin-bottom: 20px;
}

.OrdersTableDiv {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.tr {
  padding-bottom: 10px;
}

/*==============================================================================================================================*/

/*FOOTER*/

footer{
  position: relative;
}
 
@media (max-height:800px){
  footer { position: static; }
  header { padding-top:40px; }
}
 
 
.Footer{
  background-color: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}
 
.Footer .FooterLinksArea,
.Footer .FooterContact,
.Footer .FooterAboutArea{
  display: inline-block;
  vertical-align: top;
}
 
/* Footer Links */
 
.Footer .FooterLinksArea{
  width: 30%;
}
 
.Footer h3{
  color:  white;
  font: normal 36px;
  margin: 0;
}
 
/* The company logo */
 
.Footer .FooterLinksArea img{
}
 
.Footer h3 span{
  color:  white;
}
 
/* Footer links */
 
.Footer .FooterLinks{
  color:  white;
  margin: 20px 0 12px;
}
 
.Footer .FooterLinks a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}
 
.Footer .FooterCopyRight{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
 
/* Footer Center */
 
.Footer .FooterContact{
  width: 35%;
}
 
 
.Footer .FooterContact i{
  background-color:  #33383b;
  color: white;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
 
.Footer .FooterContact i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}
 
.Footer .FooterContact p{
  display: inline-block;
  color: white;
  vertical-align: middle;
  margin:0;
}
 
.Footer .FooterContact p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}
 
.Footer .FooterContact p a{
  color:  white;
  text-decoration: none;;
}
 
 
/* Footer Right */
 
.Footer .FooterAboutArea{
  width: 30%;
}
 
.Footer .FooterAbout{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
 
.Footer .FooterAbout span{
  display: block;
  color:  #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
 
.Footer .footer-icons{
  margin-top: 25px;
}
 
.Footer .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
  transition: 0.5s;
}

.Footer .footer-icons a:hover{
  color: #fff;
  transform: rotateY(360deg);
}
 
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
 
 
@media (max-width: 880px) {
 
  .Footer .FooterLinksArea,
  .Footer .FooterContact,
  .Footer .FooterAboutArea{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
 
  .Footer .FooterContact i{
    margin-left: 0;
  }

}
/*.footer {
  background: #303036;
  margin: auto;
  margin-top: auto;
  width: 100%;
  color: #d3d3d3;
  height: 325px;
  position: relative;
}

.footer .footer-content {
  border: 1px red;
  height: 275px;
  margin-top: auto;
  display: flex;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
  border: 1px solid white;
}

.footer .footer-content .links ul a {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: white;
}

.footer .footer-bottom {
  background: #343a40;
  color: #686868;
  margin-top: auto;
  height: 30px;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding-top: 20px;
}*/

/*==============================================================================================================================*/
/*RESPONSIVENESS*/

@media only screen and (max-width: 750px) {
  html,
  body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-image: url(../img/back3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    background-attachment: fixed;
  }

  #root {
    width: 100%;
    height: 100%;
  }

  .MainDiv {
    width: 100%;
    height: 100%;
  }

  .MobileIcon {
    display: block;
    top: 0;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    cursor: pointer;
    position: fixed;
    z-index: 1;
  }

  .NavBar {
    display: none;
  }

.mobileNav {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;
  -webkit-animation-name: fade-in-fwd;
  animation-name: fade-in-fwd;
  animation-duration: 1s;  
}

.mobileNavClose {
  /* position: relative;
  margin-right: 300px;
  margin-top: 10px; */
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

.mobileNav .NavBarDivider {
  display: none;
  z-index: 10;
}

.NavBarElement > a {
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 20px; 
  color: white;
  border-bottom: 1px solid white;
  position: relative;
  z-index: 10;
}

.NavBarElement {
  margin: auto;
  position: relative;
  margin-top: 50px;
  z-index: 10;
}

.NavBarElement:hover {
  text-decoration: underline;
}

.ClosePopup {
  margin-left: 220px;
  width: 15px;
  margin-top: 10px;
  cursor: pointer;
}

.popupInner {  
  position: absolute;
  height: 100%;
  width: 100%;       
  left: auto;
  right: auto;
  bottom: 25%;
  margin: auto;  
  border-radius: 20px;  
  background: black;
  -webkit-animation-name: fade-in-fwd;
  animation-name: fade-in-fwd;
  animation-duration: 1.5s;  
  z-index: 3;
}

.ScrollImageContainer {
  display: none;
}

  .Logo {
    float: right;
    z-index: 1;
  }

.DealItemHeading {
  margin-top: 50px;
}

.ClosePopup {
  /*margin-left: 720px;
  width: 15px;
  margin-top: 10px;*/
  margin-right: 15px;
}

#AboutUsFirst {
  flex-direction: column;
}

#LeftLine{
  width: 10%;
}

#RightLine{
  width: 10%;
}

.VerticalLine {
  height: 150px;
}

.NavBarLoggedIn {
  z-index: 3;
  margin-left: 36%; 
  color: white;
}

.fa-caret-down {
  margin-left: 15px;
  cursor: pointer;
  transition: all 0.5s;
}

.carousel-caption {
  z-index: 0;
}

.carousel-indicators {
  z-index: 0;
}

.carousel-control-prev {
  z-index: 0;
}

.carousel-control-next {
  z-index: 0;
}

#SignUp {
  width: 80%;
}

#CartMain {
  width: 100%;
}

#OgTable {
  display: none;
}

#Table {
  display: block;
}

}

/*================================================================================================================================*/
/*SCROLLBAR*/

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: unset; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*=============================================================================================================================*/
/*ANIMATIONS*/
@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-26 15:41:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-26 15:43:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-26 15:45:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-26 15:46:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-29 17:54:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2020-4-29 17:55:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes loading {
 100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}

@keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  } 
}
